$width-board: var(--board-width); //szerokość board
$light-grey: rgba(0, 0, 0, 0.35);
$mid-grey: #444; //#444
$dark-grey: rgba(0, 0, 0, 0.4);
$scss-grey: rgb(193, 193, 193);

.PanelWrapper {
  position: absolute;
  top: 50%;
  height: 120px;
  width: 660px;
  left: calc(20.6% + var(--board-width) + 5px);
  transform: translateY(-50%);

  @media (max-width: 1680px) {
    width: 630px;
  }

  @include mq(xxl) {
    width: 660px;
    left: calc(14.5% + var(--board-width) + 5px);
  }

  @media (max-width: 1536px) {
    width: 605px;
  }

  @include mq(xl) {
    left: calc(14.6% + var(--board-width) + 5px);
  }

  @media (max-width: 1280px) {
    width: 552px;
    left: calc(14.6% + var(--board-width));
  }

  @media (max-width: 1152px) {
    width: 525px;
    left: calc(12.6% + var(--board-width));
  }

  @include mq(large) {
    width: 495px;
  }

  @include mq(xs) {
    width: calc(100vw - 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
  }
}

.Panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: var(--color-panel-grey);
  border: 3px ridge var(--color-main1);
  border-radius: 8px;

  &__Border1 {
    // to jest border ...
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid $light-grey;
    border-radius: 8px;

    & h3 {
      position: absolute;
      left: $main-spacing;
      margin-right: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $light-grey;
      background-color: var(--color-panel-grey);
      margin-top: -5px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  &__Sterowanie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    left: $main-spacing;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 3px double $dark-grey;
    width: 170px;
    height: calc(100% - 30px);
    background-color: var(--color-panel-grey);
    outline-width: 1px;
    box-shadow: inset 0px -1px 0px 0px var(--color-panel-grey), inset 0px -2px 0px 0px $dark-grey;

    @media (max-width: 1280px) {
      width: 160px;
    }

    @include mq(xs) {
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: calc(100% - 40px);
      height: 46px;
      top: $main-spacing;
      transform: translateY(0);
    }

    & h2 {
      position: absolute;
      color: rgba(0, 0, 0, 0.55);
      background-color: var(--color-panel-grey);
      text-transform: uppercase;
      font-size: 0.8rem;
      right: $main-spacing;
      bottom: 0;
      transform: translateY(50%);
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  &__Sociale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: $main-spacing;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 3px double $dark-grey;
    width: calc(100% - 230px);
    height: calc(100% - 30px);
    background-color: var(--color-panel-grey);
    outline-width: 1px;
    box-shadow: inset 0px -1px 0px 0px var(--color-panel-grey), inset 0px -2px 0px 0px $dark-grey;

    & h2 {
      position: absolute;
      color: rgba(0, 0, 0, 0.55);
      background-color: var(--color-panel-grey);
      text-transform: uppercase;
      font-size: 0.8rem;
      right: $main-spacing;
      bottom: 0;
      transform: translateY(50%);
      padding-left: 3px;
      padding-right: 3px;
    }

    @media (max-width: 1536px) {
      width: calc(100% - 225px);
    }

    @media (max-width: 1280px) {
      width: calc(100% - 215px);
    }

    @media (max-width: 1152px) {
      width: calc(100% - 210px);
    }

    @include mq(xs) {
      width: calc(100% - 40px);
      height: 80px;
      top: 41.2%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.PanelBorderShadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.ScrewA {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 9px;
  top: 9px;
  border-radius: 50%;
  transform: rotateZ(-7deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);

  &__Head {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(farthest-corner at 8px 8px, #222 0%, rgb(177, 156, 156) 100%);
  }
}

.ScrewB {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 9px;
  top: 9px;
  border-radius: 50%;
  transform: rotateZ(14deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);

  &__Head {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(farthest-corner at 8px 8px, #222 0%, rgb(177, 156, 156) 100%);
  }
}

.ScrewC {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 9px;
  bottom: 9px;
  border-radius: 50%;
  transform: rotateZ(-15deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);

  &__Head {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(farthest-corner at 8px 8px, #222 0%, rgb(177, 156, 156) 100%);
  }
}

.ScrewD {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 9px;
  bottom: 9px;
  border-radius: 50%;
  transform: rotateZ(27deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);

  &__Head {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(farthest-corner at 8px 8px, #222 0%, rgb(177, 156, 156) 100%);
  }
}

.SvgwrapperA {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SvgwrapperB {
  @extend .SvgwrapperA;
}

.SvgwrapperC {
  @extend .SvgwrapperA;
}

.SvgwrapperD {
  @extend .SvgwrapperA;
}

//wszystko pod nim do działania wymaga wyższego z-index niż cień...
.PanelInnerShadow {
  // border: greenyellow 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transform: translateY(-50%);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: 5px;
  box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

.RevB {
  left: calc(64% - 5px);
  transform: translate(-50%, -50%);

  @include mq(xxxl) {
    left: calc(63.5% - 5px);
  }

  @media (max-width: 1680px) {
    left: calc(22.1% + var(--board-width));
    transform: translate(0, -50%);
  }

  @include mq(xxl) {
    left: calc(15.1% + var(--board-width));
  }

  @media (max-width: 1280px) {
    left: 66.8%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1152px) {
    left: 69.6%;
  }

  @include mq(large) {
    left: 69%;
  }

  @include mq(xs) {
    width: calc(100vw - 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.RevC {
  left: calc(63.3% - 5px);
  transform: translate(-50%, -50%);

  @media (max-width: 1680px) {
    left: 42.6%;
    transform: translate(0, -50%);
  }

  @include mq(xxl) {
    left: 39%;
  }

  @media (max-width: 1536px) {
    left: 40.8%;
  }

  @include mq(big) {
    left: 38.1%;
  }

  @include mq(xl) {
    left: 35.8%;
  }

  @media (max-width: 1280px) {
    left: 36.8%;
  }

  @media (max-width: 1152px) {
    left: 34%;
  }

  @include mq(large) {
    left: 35.2%;
  }

  @include mq(xs) {
    width: calc(100vw - 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.RevFirma {
  border: 3px ridge var(--color-main2);
}

.RevPriv {
  border: 3px ridge var(--color-main);
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Panel__Btn {
  // text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: relative;
  width: 100%;
  height: 50%;
  // border: 1px solid red;

  & h3 {
    position: relative;
    width: 50%;
    height: $main-spacing;
    line-height: $main-spacing;
    // border: 1px yellow solid;
    margin-left: $main-spacing / 2;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    color: $mid-grey;
  }

  @include mq(xs) {
    width: 36%;
    height: 100%;
  }

  @include mq(xxs) {
    width: 50%;
  }
}

input[type="checkbox"] {
  //obwiednia i środek
  // border: 1px cyan solid;
  margin-left: $main-spacing / 2;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  width: 60px;
  height: 20px;
  outline: none;
  background: #444;
  appearance: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 0.5), 0 0 0px 1px rgba(204, 204, 204, 0.65),
    -4px -5px 12px rgb(255, 255, 255), 2px 5px 15px rgba(0, 0, 0, 1), 0px -3px 2px rgba(255, 255, 255, 0.15),
    0px 3px 2px rgba(255, 255, 255, 0.95), inset -5px -5px 12px rgba(0, 0, 0, 0.4), inset 5px 5px 12px rgba(0, 0, 0, 1);
  transition: 0.4s;

  @media (max-width: 1280px) {
    //zmniejszenie wymiarów o 10% tam gdzie sie da...
    width: 54px;
    height: 18px;
    border-radius: 9px;
    box-shadow: inset 0 0 0 1px rgba(34, 34, 34, 1), 0 0 0px 1px rgba(34, 34, 34, 0.5),
      -4px -5px 11px rgba(255, 0, 0, 0.5), 4px 5px 15px rgb(81, 255, 0), 0px -3px 2px rgba(41, 3, 255, 0.15),
      0px 3px 2px rgba(218, 28, 28, 0.45), inset -5px -5px 11px rgba(0, 0, 0, 0.5), inset 5px 5px 11px rgba(0, 0, 0, 1);
  }
}

input:checked[type="checkbox"] {
  //obwiednia po nacisnieciu...
  background: var(--color-main1);
  box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 0.5), 0 0 0px 1px rgba(204, 204, 204, 0.65),
    -4px -5px 12px rgb(255, 255, 255), 2px 5px 15px rgba(0, 0, 0, 1), 0px -3px 2px rgba(255, 255, 255, 0.15),
    0px 3px 2px rgba(255, 255, 255, 0.95), inset -5px -5px 12px rgba(0, 0, 0, 0.35),
    inset 5px 5px 12px rgba(0, 0, 0, 0.6);

  @media (max-width: 1280px) {
    box-shadow: inset 0 0 0 1px rgba(34, 34, 34, 0.75), 0 0 0px 1px rgba(34, 34, 34, 0.5),
      -4px -5px 11px rgba(255, 255, 255, 0.2), 4px 5px 15px rgba(0, 0, 0, 1), 0px -3px 2px rgba(255, 255, 255, 0.15),
      0px 3px 2px rgba(0, 0, 0, 0.45), inset -5px -5px 11px rgba(0, 0, 0, 0.35), inset 5px 5px 11px rgba(0, 0, 0, 0.6);
  }
}

input[type="checkbox"]:before {
  //przycisk wnetrze przed nacisnieciem
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 19px;
  background: linear-gradient(to top, var(--color-black), $mid-grey);
  border-radius: 10px;
  box-shadow: 0 0 0 1px #111, inset 0 0 3px 3px #333;
  transform: scale(0.9, 0.84);
  transition: 0.5s;

  @media (max-width: 1280px) {
    left: 2px;
    width: 34px;
    height: 14px;
    border-radius: 9px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 1152px) {
    left: 1px;
  }

  @include mq(large) {
    left: 2px;
  }
}

input:checked[type="checkbox"]:before {
  box-shadow: 0 0 0 2px var(--color-panel-mainA), inset 0 0 3px 3px var(--color-panel-mainB),
    inset 0 0 4px 4px var(--color-panel-mainC);
  left: 20px;

  @media (max-width: 1280px) {
    left: 18px;
    box-shadow: 0 0 0 1px var(--color-panel-mainA), inset 0 0 3px 3px var(--color-panel-mainB),
      inset 0 0 4px 4px var(--color-panel-mainC);
  }
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
  width: 4px;
  height: 4px;
  background: $mid-grey;
  border-radius: 50%;
  box-shadow: inset 0px 2px 1px var(--color-panel-mainD);
  transition: 0.5s;

  @media (max-width: 1280px) {
    left: 25px;
  }
}

input:checked[type="checkbox"]:after {
  left: calc(20px + 28px);
  background: var(--color-main1);
  box-shadow: inset 0px 2px 1px $dark-grey, 0 0 1px var(--color-main1), 0 0 3px var(--color-main1),
    0 0 5px var(--color-main1);

  @media (max-width: 1280px) {
    left: calc(18px + 25px);
  }
}

.DecorLine {
  height: calc(100% - 4px);
  border-left: 1px solid var(--color-panel-grey);

  transform: rotateZ(20deg);

  box-shadow: -1px 0px 0px 0px var(--color-panel-grey), -2px 0px 0px 0px var(--color-main),
    1px 0px 0px 0px var(--color-panel-grey), 2px 0px 0px 0px var(--color-main);
  opacity: 0.7;
}

.DecorLineB {
  height: calc(100% - 4px);
  border-left: 1px solid var(--color-panel-grey);

  transform: rotateZ(20deg);

  box-shadow: -1px 0px 0px 0px var(--color-panel-grey), -2px 0px 0px 0px var(--color-main1),
    1px 0px 0px 0px var(--color-panel-grey), 2px 0px 0px 0px var(--color-main1);
  opacity: 0.7;
}

.GitHub {
  width: 25%;
  cursor: pointer;
  opacity: 0.55;
  transition: 0.3s;
}

.GitHub:hover {
  opacity: 0.8;
}

.Linked {
  width: 30%;
  cursor: pointer;
  opacity: 0.55;
  transition: 0.3s;
}

.Linked:hover {
  opacity: 0.8;
}

.vimeo {
  width: 25%;
  cursor: pointer;
  opacity: 0.55;
  transition: 0.3s;
}

.vimeo:hover {
  opacity: 0.8;
}
