$width-board: var(--board-width);

.Panel {
  position: absolute;
  top: 5px;
  left: calc(20.6% + var(--board-width) + 5px);
  height: 120px;
  width: 660px;
  background-color: #222;
  border: 1px solid black;
  border-radius: 8px;

  &__Border1 {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;

    & h3 {
      position: absolute;
      left: $main-spacing;
      margin-right: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.25);
      background-color: #222;
      margin-top: -5px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  &__Sterowanie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    left: $main-spacing;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 3px double rgba(0, 0, 0, 0.4);
    width: 170px;
    height: calc(100% - 30px);
    background-color: #222;
    outline-width: 1px;
    box-shadow: inset 0px -1px 0px 0px #222, inset 0px -2px 0px 0px rgba(0, 0, 0, 0.4);

    & h2 {
      position: absolute;
      color: rgba(0, 0, 0, 0.55);
      background-color: #222;
      text-transform: uppercase;
      font-size: 0.8rem;
      right: $main-spacing;
      bottom: 0;
      transform: translateY(50%);
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

//wszystko pod nim do działania wymaga wyższego z-index niż cień...
.PanelInnerShadow {
  position: absolute;
  top: 30px;
  left: calc(20.6% + var(--board-width) + 5px);
  height: 120px;
  width: 660px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
}

.RevB {
  left: calc(63.5% - 5px);
  transform: translateX(-50%);
  width: 655px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Panel__Btn {
  // text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: relative;
  width: 100%;
  height: 50%;
  // border: 1px solid red;

  & h3 {
    position: relative;
    width: 50%;
    height: $main-spacing;
    line-height: $main-spacing;
    // border: 1px yellow solid;
    margin-left: $main-spacing / 2;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
  }
}

input[type="checkbox"] {
  // border: 1px cyan solid;
  margin-left: $main-spacing / 2;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  width: 60px;
  height: 20px;
  outline: none;
  background: #222;
  appearance: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(34, 34, 34, 1), 0 0 0px 1px rgba(34, 34, 34, 0.5),
    -4px -5px 12px rgba(255, 255, 255, 0.2), 4px 5px 16px rgba(0, 0, 0, 1), 0px -3px 2px rgba(255, 255, 255, 0.15),
    0px 3px 2px rgba(0, 0, 0, 0.45), inset -5px -5px 12px rgba(0, 0, 0, 0.5), inset 5px 5px 12px rgba(0, 0, 0, 1);
  transition: 0.4s;
}

input:checked[type="checkbox"] {
  background: red;
  box-shadow: inset 0 0 0 1px rgba(34, 34, 34, 0.75), 0 0 0px 1px rgba(34, 34, 34, 0.5),
    -4px -5px 12px rgba(255, 255, 255, 0.2), 4px 5px 16px rgba(0, 0, 0, 1), 0px -3px 2px rgba(255, 255, 255, 0.15),
    0px 3px 2px rgba(0, 0, 0, 0.45), inset -5px -5px 12px rgba(0, 0, 0, 0.35), inset 5px 5px 12px rgba(0, 0, 0, 0.6);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 19px;
  background: linear-gradient(to top, #000, #444);
  border-radius: 10px;
  box-shadow: 0 0 0 1px #111, inset 0 0 3px 3px #222;
  transform: scale(0.9, 0.84);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  box-shadow: 0 0 0 2px rgb(59, 13, 13), inset 0 0 3px 3px rgb(51, 27, 27), inset 0 0 4px 4px rgba(94, 21, 21, 0.4);
  left: 20px;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
  width: 4px;
  height: 4px;
  background: #444;
  border-radius: 50%;
  box-shadow: inset 0px 2px 1px rgba(18, 5, 5, 0.8);
  transition: 0.5s;
}

input:checked[type="checkbox"]:after {
  left: calc(20px + 28px);
  background: red;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.4), 0 0 1px red, 0 0 3px red, 0 0 5px red;
}
