*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; //
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: 0; //głupia obwódka w webkicie w polach formularza przy wpisywaniu
}

button:focus {
  outline: 0; //głupia obwódka w webkicie na buttonie po kliknieciu
}

textarea:focus {
  outline: 0; //głupia obwódka w webkicie na buttonie po wpisywaniu
}
