html {

    font-size: $base-font-size;
    font-family: $font-mont;

}

strong {
    font-weight: 700;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;

}

input {

    font-family: $font-source;
}

textarea {

    font-family: $font-source;
}

/* libre-barcode-128-text-regular - latin */